body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: "border-box";
  overflow-x: hidden;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 8px;
	background: #3D3D3D;
}

::-webkit-scrollbar-thumb {
  background: #73C2FB;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background: #73C2FB;
}

/* CONTACT FORM INPUTS */
*:focus {
  outline: none;
}

@-webkit-keyframes gradient {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

@keyframes gradient {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

.webflow-style-input {
  position: relative;
  /* display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto; */
  border-radius: 2px;
  padding: 1.3em 1em;
  background: transparent;
  /* background: rgba(73, 73, 73, 0.8); */
}

.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 1px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  -webkit-animation: gradient 3s linear infinite;
          animation: gradient 3s linear infinite;
}

.webflow-style-input input {
  flex-grow: 1;
  color: #BFD2FF;
  font-size: 1.3rem;
  /* line-height: 2.4rem; */
  /* vertical-align: middle; */
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #7881A1;
}